/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, 'San Francisco', 'Segoe UI', Tahoma, Geneva, sans-serif;
    background: linear-gradient(135deg, #121212, #2e2e2e);
    color: #FFFFFF;
}

/* Barra de navegación */
.navbar {
    background-color: rgb(51, 51, 51);
    color: white;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    font-size: 24px;
    font-weight: bold;
    padding-left: 90px; /* Ajusta la distancia desde la izquierda */
}

/* Botones del pad */
.pad-buttons {
    display: grid;
    gap: 10px;
    justify-content: center;
    margin: 80px auto 0 auto;
    font-size: 16px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, auto);
    width: 90%;
}

.pad-buttons button {
    padding: 70px;
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: rgb(45, 45, 45);
    border: 1px solid rgb(0, 191, 255);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.pad-buttons button:hover {
    background-color: #277b71;
    transform: translateY(-3px);
}

.pad-buttons button.active {
    background-color: hsl(195, 100%, 50%);
    transform: translateY(2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Contenido de las pestañas */
.tab-content {
    display: none;
    text-align: center;
    padding: 20px;
}

.tab-content.active {
    display: block;
}

/* Footer */
.footer {
    text-align: center;
    padding: 5px 0;
    background-color: #333;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
}

.footer .tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 5px 0px;
}

.footer .tabs button {
    background-color: #333;
    color: #FFFFFF;
    border: 2px solid transparent;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.footer .tabs button.active {
    background-color: #00BFFF;
    color: #121212;
    border: 2px solid #00BFFF;
}

.footer .tabs button:hover {
    background-color: #444;
}

.footer .social-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
}

.footer .social-links a {
    color: #00eeff;
    font-size: 24px;
    transition: color 0.3s ease;
}

.footer .social-links a:hover {
    color: #FFFFFF;
}

.footer-divider {
    width: 100%;
    margin: 10px auto;
    border: 0;
    border-top: 1px solid #555;
    opacity: 0.6;
}

/* Contenedor de la versión */
.version-container {
    text-align: left;
    padding-left: 10px;
    margin-bottom: 5px;
}

.version-text {
    font-size: 20px;
    color: #555;
}

/* Cuadro del desarrollador */
.developer-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2px;
    flex-wrap: wrap;
    padding: 20px;
}

.developer-card {
    background: linear-gradient(135deg, rgb(51, 51, 51) 0%, rgba(48, 48, 48, 0.5) 100%);
    color: white;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    padding: 22px;
    text-align: center;
    min-width: 90px;
    max-width: 380px;
    margin: 40px 0px;
    display: flex; /* Activa Flexbox dentro de la tarjeta */
    flex-direction: column; /* Coloca los elementos en una columna */
    justify-content: center; /* Centra verticalmente */
    align-items: center; 
    border: 0.5px solid rgb(0, 191, 255);
}

.developer-card:hover {
    transform: translateY(-10px); /* Desplaza la tarjeta ligeramente hacia arriba */
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5); /* Aumenta la sombra para un efecto más profundo */
    background: #333; /* Cambia el fondo cuando el cursor está sobre la tarjeta */
}

.developer-card h2 {
    color: #00BFFF;
    margin-bottom: 15px;
}

.developer-card p {
    margin-bottom: 10px;
    font-size: 16px;
}

.social-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social-links a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-size: 30px;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #00eeff;
}

.developer-logo {
    width: 200px;
    height: auto;
    margin: 10px auto;
}

/* Tablets */
@media (max-width: 768px) {
    .pad-buttons {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, auto);
        width: 95%;
    }

    .pad-buttons button {
        padding: 50px;
        font-size: 20px;
    }

    .footer .tabs button {
        font-size: 12px;
        padding: 6px 12px;
    }

    .developer-container {
        flex-direction: column;
        align-items: center;
    }
}

/* Móviles */
@media (max-width: 480px) {
    .navbar {
        font-size: 18px;
        padding: 15px;
        padding-left: 24px; /
    }

    .pad-buttons {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        width: 100%;
        margin: -10px auto 50px;
        height: calc(100vh - 300px);
        gap: 10px;
        padding: 70px 0px;
    }

    .pad-buttons button {
        padding: 20px;
        font-size: 16px;
        height: 85px;
        border-radius: 5px;
    }

    .footer .tabs {
        flex-direction: row;
        gap: 10px;
    }

    .footer .tabs button {
        font-size: 14px;
        padding: 8px;
    }
    .developer-container {
        display: flex; /* Activa Flexbox */
        flex-direction: column; /* Coloca las tarjetas en una columna */
        align-items: center; /* Centra horizontalmente */
        justify-content: center; /* Centra verticalmente */
        padding: 45px 0; /* Ajusta el padding del contenedor */
    }

    .developer-card {
        width: 100%; /* Reduce el tamaño de la tarjeta al 90% del ancho */
        max-width: 310px; /* Asegura que no sea más grande que un límite */
        margin: 1px -20px;
        min-height: 130px;
    }

    .developer-card h2 {
        font-size: 30px; /* Reduce el tamaño del título */
        margin-bottom: 10px; /* Ajusta el margen inferior */
    }

    .developer-card p {
        font-size: 18px; /* Reduce el tamaño del texto */
        margin-bottom: 8px;
    }

    .social-links a {
        font-size: 20px; /* Reduce el tamaño de los iconos sociales */
    }

    .footer .social-links {
        flex-direction: column;
    }

    .footer .social-links a {
        font-size: 20px;
    }

    .footer-divider {
        width: 100%;
        margin: 5px auto;
    }

    .version-container {
        text-align: left;
        padding-left: 10px;
        margin-bottom: 5px;
    }

    .version-text {
        font-size: 16px;
        color: #aaa;
        display: block;
    }

    #developer h2 {
        font-size: 18px;
        margin-bottom: 15px;
    }

    #developer p {
        font-size: 15px;
        margin-bottom: 15px;
    }

    #developer .social-links {
        gap: 5px;
    }

    #developer .social-links a {
        font-size: 15px;
    }

    .developer-logo {
        width: 120px;
        margin-top: 15px;
    }
}
