/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, 'San Francisco', 'Segoe UI', Tahoma, Geneva, sans-serif;
    background: linear-gradient(135deg, #121212, #2e2e2e);
    color: #FFFFFF;
}

/* Barra de navegación */
.navbar {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    font-size: 24px;
    font-weight: bold;
}

/* Botones del pad */
.pad-buttons {
    display: grid;
    gap: 10px;
    justify-content: center;
    margin-bottom: 40px;
    font-size: 16px;
    grid-template-columns: repeat(6, 1fr); /* Cambiado a 6 columnas */
    grid-template-rows: repeat(2, auto);   /* 2 filas */
}

.pad-buttons button {
    padding: 70px;
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: rgb(45, 45, 45);
    border: 1px solid rgb(0, 191, 255);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: auto;
}

.pad-buttons button:hover {
    background-color: #277b71;
    transform: translateY(-2px);
}

.pad-buttons button.active {
    background-color: hsl(195, 100%, 50%);
    transform: translateY(2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Contenido de las pestañas */
.tab-content {
    display: none;
    text-align: center;
    padding: 20px;
}

.tab-content.active {
    display: block;
}

/* Footer */
.footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

.footer .tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    height: 10px;
}

.footer .tabs button {
    background-color: #333;
    color: #FFFFFF;
    border: 2px solid transparent;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: auto;
    margin: 0;
}

.footer .tabs button i {
    font-size: 16px;
}

.footer .tabs button span {
    font-size: 14px;
}

.footer .tabs button.active {
    background-color: #00BFFF;
    color: #121212;
    border: 2px solid #00BFFF;
}

.footer .tabs button:hover {
    background-color: #444;
}

.footer .social-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 0;
}

.footer .social-links a {
    color: #00eeff;
    font-size: 24px;
}

.footer .social-links a:hover {
    color: #FFFFFF;
}

/* Contenedor de la versión */
.version-container {
    margin-top: -30px;  /* Aumentamos el margen superior */
    margin-bottom: 50px; /* Separación con el footer */
}

/* Estilo de la versión */
.version-text {
    margin-left: 24px; /* Alineado a la izquierda */
    font-size: 20px;
    color: #aaa;
    padding: 0; /* Eliminamos el padding negativo */
}


/* Estilos para tablets */
@media (max-width: 768px) {
    .pad-buttons {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, auto);
    }

    .pad-buttons button {
        font-size: 20px;
        padding: 10px 15px;
    }

    .footer .tabs button {
        font-size: 14px;
        padding: 8px 12px;
    }
}

/* Estilos para móviles */
@media (max-width: 480px) {
    .navbar {
        font-size: 18px;
        padding: 8px;
    }

    .pad-container {
        margin-top: 60px;
        padding: 15px;
    }

    .pad-buttons {
        grid-template-columns: repeat(2, minmax(40px, 1fr));
        grid-template-rows: repeat(6, auto);
    }

    .pad-buttons button {
        font-size: 18px;
        padding: 8px 12px;
    }

    .footer .tabs {
        flex-direction: row;
        gap: 10px;
    }

    .footer .tabs button {
        font-size: 14px;
        padding: 10px;
        width: 100%;
    }

    .footer .tabs button i {
        font-size: 18px;
    }

    .footer .social-links {
        flex-direction: column;
    }

    .footer .social-links a {
        font-size: 20px;
    }
}

/* Cuadro del desarrollador */
#developer {
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
    overflow-y: auto;
    height: 300px;
}

#developer h2 {
    font-size: 28px;
    margin-bottom: 15px;
    color: #00BFFF;
}

#developer p {
    font-size: 18px;
    margin-bottom: 20px;
}

#developer .social-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0;
    margin: 0;
}

#developer .social-links a {
    font-size: 32px;
    color: #00eeff;
}

#developer .social-links a:hover {
    color: #FFFFFF;
}

.developer-logo {
    width: 150px;
    height: auto;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Estilos específicos para tablets */
@media (max-width: 768px) {
    #developer {
        max-width: 500px;
        padding: 15px;
        margin: 20px;
    }

    #developer h2 {
        font-size: 24px;
    }

    #developer p {
        font-size: 16px;
    }

    #developer .social-links {
        gap: 20px;
    }

    #developer .social-links a {
        font-size: 28px;
    }
    .developer-logo {
        width: 130px;
        margin-top: 18px;
    }
}

/* Estilos específicos para móviles */
@media (max-width: 480px) {
    #developer {
        max-width: 400px;
        padding: 10px;
        margin: 20px;
    }

    #developer h2 {
        font-size: 20px;
    }

    #developer p {
        font-size: 14px;
    }

    #developer .social-links {
        gap: 15px;
    }

    #developer .social-links a {
        font-size: 24px;
    }
    .developer-logo {
        width: 120px;
        margin-top: 15px;
    }
}
