/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, 'San Francisco', 'Segoe UI', Tahoma, Geneva, sans-serif;
    background: linear-gradient(135deg, #121212, #2e2e2e);
    color: #FFFFFF;
}

/* Barra de navegación */
.navbar {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    font-size: 24px;
    font-weight: bold;
}

/* Botones del pad */
.pad-buttons {
    display: grid;
    gap: 10px;
    justify-content: center;
    margin: 80px auto 0 auto;
    font-size: 16px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, auto);
    width: 90%;
}

.pad-buttons button {
    padding: 70px;
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: rgb(45, 45, 45);
    border: 1px solid rgb(0, 191, 255);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.pad-buttons button:hover {
    background-color: #277b71;
    transform: translateY(-3px);
}

.pad-buttons button.active {
    background-color: hsl(195, 100%, 50%);
    transform: translateY(2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Contenido de las pestañas */
.tab-content {
    display: none;
    text-align: center;
    padding: 20px;
}

.tab-content.active {
    display: block;
}

/* Footer */
.footer {
    text-align: center;
    padding: 5px 0;  /* Reducido el padding */
    background-color: #333;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
}

.footer .tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 5px 0px;
}

.footer .tabs button {
    background-color: #333;
    color: #FFFFFF;
    border: 2px solid transparent;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.footer .tabs button.active {
    background-color: #00BFFF;
    color: #121212;
    border: 2px solid #00BFFF;
}

.footer .tabs button:hover {
    background-color: #444;
}

.footer .social-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
}

.footer .social-links a {
    color: #00eeff;
    font-size: 24px;
    transition: color 0.3s ease;
}

.footer .social-links a:hover {
    color: #FFFFFF;
}

.footer-divider {
    width: 100%; /* Ajusta el ancho de la línea */
    margin: 10px auto; /* Centra la línea y ajusta el margen */
    border: 0;
    border-top: 1px solid #555; /* Color de la línea */
    opacity: 0.6; 
    
}

/* Contenedor de la versión */
.version-container {
    text-align: left;
    padding-left: 10px;
    margin-bottom: 5px; /* Ajusta el espaciado inferior */
}

.version-text {
    font-size: 20px;
    color: #555;
}
/* Estilos responsivos */

/* Tablets */
@media (max-width: 768px) {
    .pad-buttons {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, auto);
        width: 95%;
    }

    .pad-buttons button {
        padding: 50px;
        font-size: 20px;
    }

    .footer .tabs button {
        font-size: 12px;
        padding: 6px 12px;
    }
}

@media (max-width: 480px) {
    .navbar {
        font-size: 18px;
        padding: 15px;
        justify-content: center;
    }

    /* Ajuste del contenedor y botones */
    .pad-buttons {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr); /* Asegura que haya 6 filas */
        width: 100%;
        margin: -5px auto 50px; /* Reducido el margen superior e inferior */
        height: calc(100vh - 300px); /* Ocupa el resto de la pantalla menos navbar y footer */
        gap: 10px; /* Reducir el espacio entre los botones */
        padding: 70px 0px;
    }

    .pad-buttons button {
        padding: 20px; /* Reducido para que quepan más filas */
        font-size: 16px;
        height: 85px;
        border-radius: 5px;
    }

    .footer .tabs {
        flex-direction: row;
        gap: 10px;
    }

    .footer .tabs button {
        font-size: 14px;
        padding: 8px;
    }

    .footer .social-links {
        flex-direction: column;
    }

    .footer .social-links a {
        font-size: 20px;
    }

    .footer-divider {
        width: 100%; /* Ajusta el ancho para que se vea bien en pantallas pequeñas */
        margin: 5px auto; /* Espaciado reducido en móviles */
    }

    .version-container {
        text-align: left;
        padding-left: 10px;
        margin-bottom: 5px;
    }

    .version-text {
        font-size: 16px;
        color: #aaa;
        display: block; /* Asegura que siempre se muestre en móviles */
    }
    .pad-container {
        padding-bottom: 100px;
        padding: 0px;
    }
}

/* Cuadro del desarrollador */
#developer {
    padding: 60px;
    padding-top: 70px; /* Espacio adicional para separar del navbar */
    background: linear-gradient(135deg, #121212, #2e2e2e);
    border-radius: auto;
    margin: 0 auto;
    text-align: center;
    overflow-y: auto;
    height: auto;
}

#developer h2 {
    font-size: 28px;
    margin-bottom: 15px;
    color: #00BFFF;
}

#developer p {
    font-size: 18px;
    margin-bottom: 20px;
}

#developer .social-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0;
    margin: 0;
}

#developer .social-links a {
    font-size: 32px;
    color: #00eeff;
}

#developer .social-links a:hover {
    color: #FFFFFF;
}

.developer-logo {
    width: 150px;
    height: auto;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
